body {
    overflow: hidden;
}

.kenny {
    width: 40px;
    height: 50px;
    background-image: url(BowArrowFotos/Kenny.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.pistola {
    width: 100px;
    height: 70px;
    background-color: white;
    background-image: url(BowArrowFotos/Pistola.png);
    background-size: contain;
    background-repeat: no-repeat;
    top:35px;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
}

.manzana {
    background-color: red;
    width: 40px;
    height: 35px;
    background-image: url(BowArrowFotos/Manzana.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    transform: translateY(-90%);
    
}